<div class="col s12 m4">
  <div class="card small indigo darken-2">
    <div class="card-content our-card-content-class white-text">
      <span class="card-title"><%= name %></span>
      <p>Description: <%= description %><br />
        Color: <%= color %><br />
        Weight: <%= weight %><br />
        Quantity On Hand: <%= quantity_on_hand %><br />
        Base Price: <%= base_price %>
      </p>
    </div>
    <div class="card-action">
      <a href="#">NOPE</a>
      <a href="#">LOL BOOBS</a>
    </div>
  </div>
</div>
